@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Footer Section*/

.footer {

	background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(3, 1, 41, 1) 28%, rgba(69, 15, 145, 1) 79%, rgba(88, 5, 139, 1) 100%);
	padding: 70px 0;
}
ul {
	list-style: none;
}

/* the main container which have 3 div inside  */
.footer-container { 
	max-width: 1170px;
	margin: auto;
}


.footer-row {
	display: flex;
	flex-wrap: wrap;
}


.footer-col {
	width: 25%;
	padding: 0 15px;
}


.footer-logo {
	width: 180px;
	height: 180px;
	border-radius: 20px;
}


.footer-col p {
	color: #ffffff;
	opacity: 0.8;
}



.footer-col h4 {
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 70px;
}

.footer-col ul li a {
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover {
	color: #ffffff;
	padding-left: 8px;
}

.footer-col .social-links a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255, 0, 0, 0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
	color: #ffffff;
	background-color: #c9bccb;
}


.gcoea-website {
	color: hsl(0, 0%, 92%);
	text-decoration: dotted;

}


/*responsive*/

@media(max-width: 767px) {
	.footer-col {
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px) {
	.footer-col {
		width: 100%;
	}
}