*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(19, 2, 35, 0.75),rgba(0,0,0,0.75)),url("./images/image.jpg");
    background-size:cover;
    background-position: center;
    height: 2000px;
    background-attachment:fixed;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    
}

img{
border-radius:50%;
}
.background-image{
    opacity:30%;
}
/* .navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
} */
.logo{
    width: 320px;
    cursor: pointer;
    background-position: center;
    margin-bottom: 40px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color:#fff;
    text-transform:uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width:0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition:0.5s;
}
.navbar ul li:hover::after{
    width:100%;
}
.content1{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius:25px;
    font-weight: bold;
    border: 2px solid #700c94;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow:hidden;
    margin-top: 35px;
    cursor: pointer;
    transition: 0.2s ease;
    margin: 15px;
}
 span{
    background: #60049a;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    position:absolute;
    left:0;
    bottom:0;
    z-index:-1;
    transition: 0.5s;
}

button:hover{
    box-shadow: 20px 20px 30px rgba(184, 99, 233, 0.26);
    color: antiquewhite;
  }
@media(max-width: 529px) {
    .logo{
        width: 200px;
        height: 200px;
    }
}